<?xml version="1.0"?>
<robot name="robospect" xmlns:xacro="http://www.ros.org/wiki/xacro">
	
   	<xacro:include filename="$(find robospect_description)/urdf/sensors/pointgrey_grasshopper3.urdf.xacro" />

	<xacro:macro name="camera_frame_top" params="name parent *origin">

		<!-- CAMERA FRAME BASE_LINK -->
		<link name="${name}_camera_frame_link">

		</link>
	  
		<joint name="${name}_camera_frame_joint" type="fixed">
		  <insert_block name="origin" />
		  <parent link="${parent}"/>
		  <child link="${name}_camera_frame_link"/>
		</joint>
		
		<xacro:pointgrey_grasshopper3 name="grasshopper3_top_left" parent="${name}_camera_frame_link">
			<origin xyz="0.001 0.050 0.022" rpy="0 0 -0.139626" />
		</xacro:pointgrey_grasshopper3>
		
		<xacro:pointgrey_grasshopper3 name="grasshopper3_top_right" parent="${name}_camera_frame_link">
			<origin xyz="0.001 -0.063 0.022" rpy="0.0 0.0 -0.017453" />
		</xacro:pointgrey_grasshopper3>


	</xacro:macro>
</robot>
