<?xml version="1.0"?>
<robot name="robospect" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:include filename="$(find robospect_description)/urdf/bases/robospect_base.gazebo.xacro" />

  <xacro:macro name="robospect_base" params="name publish_bf">

  <!-- Robot mechanical and motor parameters -->
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- BASE FOOTPRINT -->
  <xacro:if value="${publish_bf}">
    <link name="base_footprint">
      <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
             <box size="0.001 0.001 0.001" />
          </geometry>
      </visual>
<!--
      <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <box size="0.001 0.001 0.001" />
          </geometry>
      </collision>
-->
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 0.296166007" rpy="0 0 0" />  <!-- height is the clearance -->
      <parent link="base_footprint"/>
      <child link="base_link" />
    </joint>
  </xacro:if>

  <!-- BASE_LINK -->
  <link name="base_link">
    <inertial>
      <mass value="500.0" />
      <origin xyz="0 0 0" />
      <inertia  ixx="1.391" ixy="0.004"  ixz="0.0"  iyy="6.853"  iyz="0.0"  izz="6.125" />
    </inertial>
    <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
	       <mesh filename="package://robospect_description/meshes/bases/robospect_base_chassis.dae"/>
       </geometry>
       <material name="blue">
         <color rgba="0.0 0.4 0.9 1.0"/>
       </material>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="package://robospect_description/meshes/bases/robospect_base_chassis.dae"/>
       </geometry>
    </collision>
  </link>


  </xacro:macro>
</robot>
